.containerPagina ul li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(255, 20, 161);
    border: 7px solid rgb(255, 20, 161);
    border-radius: 5px;
    color: rgb(247, 125, 214);
}
.containerPagina{
    display: flex;
    height: 50px;
    background-color:rgb(247, 125, 214);
    padding:20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.containerPagina a{
    text-decoration: none;
    color: rgb(139, 0, 95);  
}
.containerUm {
    display: flex;
    margin: 0 auto;
    height:600px;
    width: 1200px;
    flex-direction: column;
}

.containerDois {
    display: flex;
    flex: 1;
    background-color: rgb(139, 0, 113);
    padding: 10px;
}

.containerDois h1{
    color:rgb(255, 255, 255);
}

.containerTres {
    display: flex;
    flex: 2;
    flex-direction: row;
}

.containerMenu {
    background-color: rgb(237, 100, 168);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.containerItem ul li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-around;
    background-color: rgb(255, 240, 252);
    border: 5px solid rgb(255, 240, 251);
    border-radius: 5px;
}

.containerItem {
    text-decoration: none;
    color: rgb(139, 0, 95);
}

.containerAd {
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 100, 168);
    flex: 1;
}

.containerCinco {
    display: flex;
    background-color: rgb(230, 173, 209);
    flex: 2;
    flex-direction: column;
    padding: 10px;
}

.blocoMENU ul li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(255, 20, 75);
    border: 7px solid rgb(255, 20, 75);
    border-radius: 5px;
    color: rgb(255, 182, 182);
}
.blocoMENU{
    display: flex;
    height: 50px;
    background-color:rgb(255, 182, 182);
    padding:20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.blocoMENU a{
    text-decoration: none;
    color: rgb(219, 219, 219);

}
.blocoAvo{
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.blocoPai {
    height: 50vh;
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px;
    margin-top: 90px
}

.blocoUm {
    height: 20vh;
    flex: 1;
    background-color: rgb(238, 144, 144);
}

.blocoDois {
    height: 30vh;
    flex: 1;
    background-color: rgb(255, 0, 0);
}

.blocoTres {
    height: 15vh;
    flex: 1;
    background-color: rgb(238, 144, 144);
}

.blocoQuatro {
    height: 35vh;
    flex: 1;
    background-color: rgb(255, 0, 0);
}

.blocoCinco {
    height: 50vh;
    flex: 1;
    background-color: rgb(238, 144, 144);
}

.blocoSeis {
    height: 20vh;
    flex: 1;
    background-color: rgb(255, 0, 4);
}

.contUm {
    display: flex;
    height: 50px;
    background-color:rgb(236, 192, 255);
    padding:20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.contUm ul li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(204, 20, 255);
    border: 7px solid rgb(204, 20, 255);
    border-radius: 5px;
    color: rgb(248, 182, 255);
}

.contUm a{
    text-decoration: none;
    color: rgb(253, 107, 248);
    
}

.contDois {
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contTres {
    display: flex;
    height: 400px;
    width: 220px;
    background-color: rgb(209, 128, 213);
    flex-direction: column;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

.contTres p{
    padding: 20px;
}

.contTres h1{
    background-color: rgb(228, 20, 255);
    border: 20px solid rgb(228, 20, 255);
    margin-top: -40px;
    color: rgb(178, 130, 174);
}



